node_modules
src/backend/models/cnn_model.h5
src/backend/models/decision_tree_classifier.joblib
src/backend/models/food_recognition_inceptionV3.h5
src/backend/__pycache__/main.cpython-310.pyc
src/backend/__pycache__/model.cpython-310.pyc
